div {
    margin-left: 15px;
    text-indent: 5px;
}

/* menu */
div[class*="Menu"] {
    background: #f1ead8;
}

/* basic elements */
div[class*="Button"],
div[class*="TextField"],
div[class*="Label"],
div[class*="CheckBox"],
div[class*="ComboBox"] {
    background: #bdf1df;
}

/* trees */
div[class*="Tree"] {
    background: #f1c5ec;
}

div[class*="Panel"] {
    /*background: #f8d4d0;*/
    border-width: 2px;
    border-style: none none none dotted;
    border-color: #303079;
}

/*Dialog*/
div[class*="MyDialog"] {
    background: #fff6d0;
    border-width: 3px;
    border-style: dashed;
    border-color: #120779;
}

xpathEditor {
    margin-left: 15px;
    text-indent: 5px;
}

xpathEditor.hidden {
    visibility: hidden;
}
input.badXpath {
    background: #ffee52;
}

input.invalidXpath {
    background: #ff6c6c;
}

input.goodXpath {
    background: #4efd51;
}

div[id*="updateButton"] {
    margin-left: 30px;
    text-indent: 5px;
}