name: Publish Master
on:
  push:
    branches:
      - master
  workflow_dispatch:
jobs:
  build-and-publish:
    name: Build and Publish Master
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4.1.3
      - name: Setup Java
        uses: actions/setup-java@v3.13.0
        with:
          distribution: zulu
          java-version: 17
      - name: Build the lib
        run: ./gradlew :remote-robot:build
      - name: Build robot-server-core
        run: ./gradlew :robot-server-core:build
      - name: Build the plugin
        env:
          SNAPSHOT: "true"
        run: ./gradlew :robot-server-plugin:buildPlugin
      - name: Publish the plugin
        env:
          SPACE_INTERNAL_ACTOR: ${{ secrets.SPACE_INTERNAL_ACTOR }}
          SPACE_INTERNAL_TOKEN: ${{ secrets.SPACE_INTERNAL_TOKEN }}
          SNAPSHOT: "true"
        run: ./gradlew :robot-server-plugin:publishRobotServerPluginPublicationToSpaceInternalRepository
      - name: Publish the plugin jars
        env:
          SPACE_INTERNAL_ACTOR: ${{ secrets.SPACE_INTERNAL_ACTOR }}
          SPACE_INTERNAL_TOKEN: ${{ secrets.SPACE_INTERNAL_TOKEN }}
          RUN_NUMBER: ${{ github.run_number }}
          SNAPSHOT: "true"
        run: ./gradlew :robot-server-plugin:publishRobotServerJarPublicationToSpaceInternalRepository
      - name: Publish robot-server-core
        env:
          SPACE_INTERNAL_ACTOR: ${{ secrets.SPACE_INTERNAL_ACTOR }}
          SPACE_INTERNAL_TOKEN: ${{ secrets.SPACE_INTERNAL_TOKEN }}
          RUN_NUMBER: ${{ github.run_number }}
        run: ./gradlew :robot-server-core:publishRobotServerCoreJarPublicationToSpaceInternalRepository
      - name: Publish test-recorder
        env:
          SPACE_INTERNAL_ACTOR: ${{ secrets.SPACE_INTERNAL_ACTOR }}
          SPACE_INTERNAL_TOKEN: ${{ secrets.SPACE_INTERNAL_TOKEN }}
          RUN_NUMBER: ${{ github.run_number }}
        run: ./gradlew :test-recorder:publishTestRecorderJarPublicationToSpaceInternalRepository
      - name: Publish the remote-robot lib
        env:
          SPACE_INTERNAL_ACTOR: ${{ secrets.SPACE_INTERNAL_ACTOR }}
          SPACE_INTERNAL_TOKEN: ${{ secrets.SPACE_INTERNAL_TOKEN }}
          RUN_NUMBER: ${{ github.run_number }}
        run: ./gradlew :remote-robot:publishRemoteRobotPublicationToSpaceInternalRepository
      - name: Publish the remote-fixtures lib
        env:
          SPACE_INTERNAL_ACTOR: ${{ secrets.SPACE_INTERNAL_ACTOR }}
          SPACE_INTERNAL_TOKEN: ${{ secrets.SPACE_INTERNAL_TOKEN }}
          RUN_NUMBER: ${{ github.run_number }}
        run: ./gradlew :remote-fixtures:apiCheck :remote-fixtures:publishRemoteFixturesPublicationToSpaceInternalRepository
      - name: Publish the ide-launcher lib
        env:
          SPACE_INTERNAL_ACTOR: ${{ secrets.SPACE_INTERNAL_ACTOR }}
          SPACE_INTERNAL_TOKEN: ${{ secrets.SPACE_INTERNAL_TOKEN }}
          RUN_NUMBER: ${{ github.run_number }}
        run: ./gradlew :ide-launcher:publishIdeLauncherPublicationToSpaceInternalRepository
