name: Publish Release
on:
  release:
    types: [published]
jobs:
  build-and-publish:
    name: Build and Publish Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4.1.2
      - name: Setup Java
        uses: actions/setup-java@v3.13.0
        with:
          distribution: zulu
          java-version: 17
      - name: Build the lib
        run: ./gradlew :remote-robot:build
      - name: Build the plugin
        run: ./gradlew :robot-server-plugin:buildPlugin
      - name: Publish the plugin
        env:
          SPACE_ACTOR: ${{ secrets.SPACE_ACTOR }}
          SPACE_TOKEN: ${{ secrets.SPACE_TOKEN }}
        run: ./gradlew :robot-server-plugin:publishRobotServerPluginPublicationToSpacePublicRepository
      - name: Publish the plugin jars
        env:
          SPACE_ACTOR: ${{ secrets.SPACE_ACTOR }}
          SPACE_TOKEN: ${{ secrets.SPACE_TOKEN }}
        run: ./gradlew :robot-server-plugin:publishRobotServerJarPublicationToSpacePublicRepository
      - name: Publish robot-server-core
        env:
          SPACE_ACTOR: ${{ secrets.SPACE_ACTOR }}
          SPACE_TOKEN: ${{ secrets.SPACE_TOKEN }}
        run: ./gradlew :robot-server-core:publishRobotServerCoreJarPublicationToSpacePublicRepository
      - name: Publish test-recorder
        env:
          SPACE_ACTOR: ${{ secrets.SPACE_ACTOR }}
          SPACE_TOKEN: ${{ secrets.SPACE_TOKEN }}
        run: ./gradlew :test-recorder:publishTestRecorderJarPublicationToSpacePublicRepository
      - name: Publish the remote-robot lib
        env:
          SPACE_ACTOR: ${{ secrets.SPACE_ACTOR }}
          SPACE_TOKEN: ${{ secrets.SPACE_TOKEN }}
        run: ./gradlew :remote-robot:publishRemoteRobotPublicationToSpacePublicRepository
      - name: Publish the remote-fixtures lib
        env:
          SPACE_ACTOR: ${{ secrets.SPACE_ACTOR }}
          SPACE_TOKEN: ${{ secrets.SPACE_TOKEN }}
        run: ./gradlew :remote-fixtures:publishRemoteFixturesPublicationToSpacePublicRepository
      - name: Publish the ide-launcher lib
        env:
          SPACE_ACTOR: ${{ secrets.SPACE_ACTOR }}
          SPACE_TOKEN: ${{ secrets.SPACE_TOKEN }}
        run: ./gradlew :ide-launcher:publishIdeLauncherPublicationToSpacePublicRepository
      - name: Upload the plugin to the release page
        uses: skx/github-action-publish-binaries@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: 'robot-server-plugin/build/distributions/robot-server-plugin*.zip'