name: Run launcher example UI Tests
on:
  workflow_dispatch
jobs:
  ui-tests-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Setup Java
        uses: actions/setup-java@v3.13.0
        with:
          distribution: zulu
          java-version: 17
      - name: Tests
        run: |
          ./gradlew :ide-launcher:test
      - name: Save fails report
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: ui-tests-fails-report-windows
          path: |
            ide-launcher/build/reports
