name: Test Branch
on:
  push:
    branches-ignore:
      - master
jobs:
  build:
    name: Build lib and plugin
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Build the remote-robot lib
        run: gradle :remote-robot:build
      - name: Build the remote-fixtures lib
        run: gradle :remote-fixtures:build
      - name: Build the ide-launcher lib
        run: ./gradlew :ide-launcher:build -x test
      - name: Build the plugin
        run: gradle :robot-server-plugin:buildPlugin